Difference between Random Sampling and Stratified Sampling?

Ans: A simple random sample is used to represent the entire data population and randomly selects individuals from the population without any other consideration whereas Stratified Sampling first divides the population into smaller groups, or strata, based on shared characteristics. Therefore, a stratified sampling strategy will ensure that members from each subgroup are included in the data analysis.

In [1]:
import pandas as pd

# Create a dictionary of students
students = {
'Name': ['Lisa', 'Kate', 'Ben', 'Kim', 'Josh',
'Alex', 'Evan', 'Greg', 'Sam', 'Ella'],
'ID': ['001', '002', '003', '004', '005', '006','007', '008', '009', '010'],
'Grade': ['A', 'A', 'C', 'B', 'B', 'B', 'C','A', 'A', 'A'],
'Category': [2, 3, 1, 3, 2, 3, 3, 1, 2, 1]
}

# Create dataframe from students dictionary
df = pd.DataFrame(students)

# view the dataframe
df

   Name   ID Grade  Category
0  Lisa  001     A         2
1  Kate  002     A         3
2   Ben  003     C         1
3   Kim  004     B         3
4  Josh  005     B         2
5  Alex  006     B         3
6  Evan  007     C         3
7  Greg  008     A         1
8   Sam  009     A         2
9  Ella  010     A         1

In [3]:
## Randomly took equal proportionate data
df.groupby('Grade', group_keys=False).apply(lambda x: x.sample(2))

   Name   ID Grade  Category
1  Kate  002     A         3
9  Ella  010     A         1
3   Kim  004     B         3
5  Alex  006     B         3
2   Ben  003     C         1
6  Evan  007     C         3

In [10]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
def pipeline(url):
    df = pd.read_csv(url)
    df.drop('Unnamed: 0',inplace=True,axis=1)
    X = df.drop('Sales', axis=1)
    y = df['Sales']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)
    model = LinearRegression()
    model.fit(X_train, y_train)
    test_pred = model.predict(X_test)
    return test_pred

In [11]:
pipeline('Advertising.csv')

array([15.64343813, 19.58078283, 11.42717781, 16.90494334,  9.17645232,
        7.01921001, 20.24548588, 17.27288092,  9.81362002, 19.15221858,
       12.36281849, 13.90086335, 13.74679921, 21.16322282, 18.31876004,
        9.96472602, 15.56312703,  7.73452007,  7.57314037, 20.32745421,
        7.79414911, 18.16308067, 24.57041484, 22.71055089,  8.01558318,
       12.65730219, 21.43661308,  8.04499619, 12.43159447, 12.40259255,
       10.70029092, 19.16776811, 10.10150532,  6.69083331, 17.24889776,
        7.79224406,  9.25952001,  8.31516806, 10.51963092, 10.67086792,
       12.88094679,  9.79344981, 10.20060813,  8.013982  , 11.54267429,
       10.07800983,  8.98583386, 16.21285502, 13.20750313, 20.70094692,
       12.42670309, 13.96572233, 17.55475937, 11.15936616, 12.58108647,
        5.54230087, 23.22486082, 12.58536565, 18.76366836, 15.15376302,
       15.15931391, 23.91773675,  6.78191588, 19.84529505, 13.86858162,
       21.07676645])